{% extends 'base.html.twig' %}

{% block title %} SCP {% endblock %}

{% block body %}
    <div class="container text-center">
        <p class="fs-4">ATTENTION : LA BASE DE DONNÉES DE LA FONDATION EST</h3>
        <p class="fs-1">CLASSIFIÉE</p>
        <p class="fs-4 mb-5">L’ACCÈS AU PERSONNEL NON AUTORISÉ EST STRICTEMENT INTERDIT LES CONTREVENANTS<br>SERONT TRAQUÉS, ARRÊTÉS ET EMPRISONNÉS</p>
        <p>Projet de fin de formation librement inspiré de la fondation SCP</p>
        <p>Objectif : construire une application libre en intégrant les contraintes suivantes :<br>BACK -> au moins trois tables en base de données, une authentification user, une gestion de roles, un formulaire, utilisation des services et des injections<br>FRONT -> au moins trois templates, un formulaire fonctionnel, un design homogène.</p>
        <p>48h pour réaliser cet exercice !</p>
    </div>
{% endblock %}