<div class="pagenubmer mt-5 pt-2 d-flex align-items-center justify-content-center">
        <a class="text-reset text-decoration-none" href="/"><p class="fs-3 px-3">| 1 |</p></a>
        <a class="text-reset text-decoration-none" href="{{ path("page2") }}"><p class="fs-3 px-3">| 2 |</p></a>
        <a class="text-reset text-decoration-none" href="{{ path("page3") }}"><p class="fs-3 px-3">| 3 |</p></a>
</div>