<nav class="navbar navbar-expand-lg d-flex mt-3 mb-3">
<div class="sitetitle"><a class="navbar-brand text-reset text-decoration-none">| SCP |</a></div>
    <div class="scprights"><a class="navbar-brand text-reset text-decoration-none" href="/"><h1 class="navtitle text-uppercase">Fondation SCP</h1></a></div>
    <div class="d-flex">
        <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link dropdown-toggle text-reset fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">| RÉSERVÉ |</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if app.user %}
                    <li><a class="connexion text-reset text-decoration-none ps-2">| MON COMPTE |</a></li>
                    <li><a class="connexion text-reset text-decoration-none ps-2" href="{{ path('story_new') }}">| RAPPORT SCP |</a></li>
                    <li><a class="connexion text-reset text-decoration-none ps-2" href="{{ path('logout') }}">| DÉCONNEXION |</a></li>
                {% else %}
                    <li><a class="connexion text-reset text-decoration-none ps-2" href="{{ path('app_login') }}">| CONNEXION |</a></li>
                    <li><a class="connexion text-reset text-decoration-none ps-2" href="{{ path('app_register') }}">| ACCRÉDITATION |</a></li>
                {% endif %}
            </ul>
        </li>
    </div>
</nav>