{% extends 'base.html.twig' %}

{% block title %} Modification {% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="text-center mb-5 text-uppercase">| MODIFIER MES INFOS |</h1>
        {{ include('user/_form.html.twig', {'button_label': 'MODIFIER MES INFOS'}) }}
        <div class="d-flex justify-content-center"><button class="btn btn-outline-light mt-3"><a class="text-reset text-decoration-none" href="{{ path('home') }}">RETOUR</a></button></div>
    </div>
{% endblock %}
